In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user="admin2", password="Capstone@100")
cursor = connection.cursor()

In [3]:
cursor.execute("USE littlelemondm")

In [7]:
creating_joins ='''
SELECT customerdetails.Name, 
customerdetails.Contacts, 
orders.TotalCost
FROM customerdetails
INNER JOIN orders ON customerdetails.CustomerID = orders.CustomerID
WHERE orders.TotalCost > 60;
'''

In [8]:
cursor.execute(creating_joins)
results =cursor.fetchall()

In [15]:
for columns in cursor.column_names:
    print(columns, end = " ")
print("")
for x in results:
    for y in x:
        print(y,end =" ")
    print("")

Name Contacts TotalCost
Charlie charlie@example.com 499
Frank frank@example.com 295
Bob bob@example.com 599
Emily emily@example.com 199
John Doe john.doe@example.com 795
Grace grace@example.com 295
Jane Doe jane.doe@example.com 499
David david@example.com 599
Alice alice@example.com 199
Hannah hannah@example.com 795